# Ignore data files
*.pdf
*.xml
*.txt
*.zip
*.docx
*.doc
*.rtf
*.xlsx
*.pptx
*.epub
EDS Datasets/*
HPP Datasets/*

# Others
*.DS_Store

# venv
venv/*

# marcus specific git ignore folders
assignment7/*
*.env