# LangChain
langchain==0.2.1
langchain-community==0.2.1

# other requirements
python-dotenv==1.0.0

jupyterlab==3.2.0

ollama==0.2.0
pypdf==4.2.0
python-dotenv==1.0.1
docarray==0.40.0

# pinecone-client==2.2.1
# torch==2.3.0